{% extends "base.html" %}
{% block title %}checkin{% endblock %}
{% block content %}

<h1 class="card-title">DEPOSIT FUNDS</h1>
<hr>
<form method="POST" action="{{ url_for('room.deposit') }}">
    {{ form.csrf_token }}
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">{{ form.amount(class="form-control", placeholder="Amount") }}</div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">{{ form.room(class="form-control", placeholder="Room") }}</div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4"></div>
        <button type="submit" class="btn btn-outline-light col-md-4">Submit</button>
    </div>
</form>
{% endblock %}
